@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}

:root {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 50vw;
	margin: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
}

/* Form Styling */
.form-input {
	padding: 15px;
	border: 1px solid #213547;
	width: 20vw;
}

.form-input:focus {
	outline: 1px solid #989eff;
	border: 1px solid #989eff;
}

/* Forecast Area Styling */
.forecast-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
	width: 100%;
}

.forecast-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	gap: 4px;
	padding-top: 1rem;
}

.forecast-card {
	display: grid;
	padding: 10px;
	border: 1px solid #ffffff;
}

.forecast-content {
	text-align: center;
}

/* Current Conditions */
.current-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
	width: 100%;
}

.current-conditions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 10px;
	border: 1px solid #ffffff;
	width: 100%;
}

.current-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.current-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alert-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	width: 100%;
}

.alert-card {
	padding: 20px;
	border: 1px solid #ffffff;
	margin-top: 0.5rem;
	width: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	.forecast-card {
		border: 1px solid #213547;
	}
	.current-conditions {
		border: 1px solid #213547;
	}
	.alert-card {
		border: 1px solid #242424;
	}
}
